.nav{
    background-color: #f3f7f8;
    border-bottom: 2.5px solid rgb(23, 122, 23);

    position: relative;

    &__box{
        width: 90%;
        display: flex;
        align-items: center;
        padding: 1em 0;
    }

    &__title{
        margin: 0;
        color: green;
    }

    &__icon{
        font-size: 1.1em;
    }
}

.list{
    margin: 0;
    padding: 0;

    position: absolute;
    right: 0;
    top: 4.6em;
    z-index: 500;
    background-color:rgb(23, 122, 23);
    width: 100%;
    text-align: right;
    padding: .5em 3em .5em 0;

    opacity: 0;
    visibility: hidden;
    transition: all .5s;

    &__toogle{
        font-size: 1.6em;
        margin-left: auto;

        display: flex;
        align-items: center;
    }

    &__item{
        list-style: none;
    }

    &__link{
        text-decoration: none;
        color: white;
    }

    &__active{
        display: block;
        opacity: 1;
        visibility: visible;
    }
}

@media screen and (min-width:1024px){
    .list{
        display: block;
        position: relative;
        margin-left: auto;

        right: unset;
        top: unset;
        z-index: unset;
        background-color:unset;
        width: unset;
        text-align: unset;
        padding: unset;

        opacity: 1;
        visibility: visible;
        transition: none;

        &__toogle{
            display: none;
        }

        &__link{
            color: black;
        }
    }
}

@media screen and (min-width:1240px){
    .nav{
        &__box{
            width: 85%;
        }
    }
}