
<nav class="nav">
    <div class="container nav__box">
        <h1 class="nav__title" translate="no"><i class="fas fa-store-alt nav__icon"></i> Publicaciones</h1>
        <div class="list__toogle" (click)="toogleMenu($event.target)">
            <i class="fas fa-bars"></i>
        </div>
        <ul class="list">
            <li class="list__item">
                <a routerLink="home" class="list__link" translate="no">
                    Home
                </a>
            </li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>