.nav{
    background-color: #f3f7f8;
    border-bottom: 2.5px solid rgb(23, 122, 23);

    margin-bottom: 1.5em;
    position: relative;

    &__box{
        width: 90%;
        display: flex;
        align-items: center;
        padding: .8em 0;
    }
}

.list{
    margin: 0;
    padding: 0;
    display: none;

    position: absolute;

    &__toogle{
        font-size: 1.6em;
        margin-left: auto;

        display: flex;
        align-items: center;
    }

    &__item{
        list-style: none;
    }

    &__link{
        text-decoration: none;
    }

    &__active{
        display: block;
    }
}