.nav{
    background-color: #f3f7f8;
    border-bottom: 2.5px solid rgb(23, 122, 23);

    position: relative;

    &__box{
        width: 90%;
        display: flex;
        align-items: center;
        padding: 1em 0;
    }

    &__title{
        margin: 0;
        color: green;
    }

    &__icon{
        font-size: 1.1em;
    }
}

.list{
    margin: 0;
    padding: 0;
    display: none;

    position: absolute;

    &__toogle{
        font-size: 1.6em;
        margin-left: auto;

        display: flex;
        align-items: center;
    }

    &__item{
        list-style: none;
    }

    &__link{
        text-decoration: none;
    }

    &__active{
        display: block;
    }
}

@media screen and (min-width:1024px){
    .list{
        display: block;
        position: relative;
        margin-left: auto;

        &__toogle{
            display: none;
        }
    }
}