<app-carousel></app-carousel>

<div class="header">
    <div class="container">
        <h1 class="header__title">
            Local comercial · 160 M²
        </h1>
        <p class="header__paragraph">
            ALQUILER DE 
            Edificio Comercial
        </p>
    </div>
    
</div>
<hr class="container">

<section class="description">
    <div class="container">
        <h2 class="description__title">15 Oficinas para Centro Médico, Notarias, Estudios Jurídicos, Bancos, etc</h2>
        <a href="https://wa.me/51997510317" target="_blank" class="phone">
            <i class="fab fa-whatsapp phone__icon"></i>
            <img src="assets/images/phone.svg" alt="phone" class="phone__number">
        </a>
        <p class="description__text">
            Local Comercial en Los Olivos en Avenida Alfredo Mendiola, altura del Ovalo Naranjal en el Km 18 de la Panamericana Norte, Frente a Tienda Maestro y Universidad CONTINENTAL
            Edificio de 4 pisos diseñado para clínica.
            Trato directo y sin intermediario
            640 M2 de área construida. 15 oficinas. 8 Servicios Higiénicos
        </p>
    </div>
</section>