
<div *ngFor="let item of post" class="card">
    
    <div class="card__img">
        <carousel [images]="images" [counter]="true" [lightDOM]="true" [cellsToShow]="nImages[0]" [height]="360" [arrowsTheme]="'dark'" [objectFit]="nImages[1]"></carousel>
        <button (click)="viewGallery()" class="button card__button-photos"><i class="fas fa-camera"></i> Fotos</button>
    </div>
    <div class="container card__box">
        <div class="card__body">
            <h2 class="card__title">{{item.title}}</h2>
            <p class="card__subtitle">{{item.subtitle}}</p>
            <div class="features">
                <p class="features__box">
                    <span class="features__item"><i class="far fa-building"></i> {{item.features.area}} </span>
                    <span class="features__item"><i class="fas fa-thumbtack"></i> {{item.features.offices}} </span>
                    <span class="features__item"><i class="fas fa-warehouse"></i> {{item.features.parkings}} </span>
                    <span class="features__item"><i class="fas fa-toilet-paper"></i> {{item.features.toilets}} </span>
                </p>
            </div>
            <div class="card__description">
                <h3 class="card__description-title">{{item.description.title}}</h3>
                <p class="card__description-paragraph">{{item.description.paragraph}}</p>
            </div>
    
            <div class="card__contact">
                <div *ngFor="let type of item.contact">
                    <a href="{{type.url}}" target="_blank" *ngIf="type.name == 'whatsapp'" class="card__contact-clean card__contact-green">
                        <i class="fab fa-whatsapp card__contact-left"></i>
                        {{type.name}}
                    </a>
                </div>
            </div>
        </div>
        <div class="map">
            <h3 class="map__title">Ubicación</h3>
            <p class="map__text">{{item.map.ubication}}</p>
            <div class="map__box">
                <img src="{{item.map.url}}" alt="map" class="map__img">
            </div>
        </div>
    </div>
</div>


<div class="galleryPhotos" id="galleryPhotos">
    <div class="galleryPhotos__box">
        <div class="galleryPhotos__images" *ngIf="gallery">
            <div (click)="viewGallery()" class="galleryPhotos__button"> <i class="fas fa-times-circle"></i> </div>
            <carousel [counter]="true" [cellsToShow]="1" [height]="400">
                <div class="carousel-cell gallery__item" *ngFor="let img of post[0].images">
                    <img src="{{img}}" alt="images of Post">
                </div>
            </carousel>
        </div>
    </div>
</div>