/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600&display=swap');

body{
    font-family: 'Hind', sans-serif;
}

.container{
    width: 100%;
    margin: 0 auto;
}

.line{
    display: block;
    margin: .8em auto;
}

.button{
    text-decoration: none;
    border: 0;

    color: white;
    font-weight: 600;
    font-size: 1.1em;

    border-radius: 12px;
    padding: .5em 1.25em;
    background-color: #f50;
}

.overflow{
    &-hidden{
        overflow: hidden;
    }
}

.form{
    display: grid;
    margin: 2em auto;
    margin-bottom: 4em;
    &__field{
        margin-bottom: 1em;
    }
    &__label{
        display: block;
        margin-bottom: .25em;
    }
    &__input{
        width: 100%;
        border: 1px solid rgb(126, 165, 165);
        border-radius: 7px;
        padding: .5em 0 .5em .7em;
        box-sizing: border-box;
        resize: none;
    }
}

@media screen and (min-width:770px){
    .container{
        width: 90%;
    }
}
@media screen and (min-width:1240px){
    .container{
        width: 85%;
    }
}